[color]
    ui = true
    diff = auto
    status = auto
    branch = auto
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
    quotepath = false
[alias]
    s = status
    st = status
    ss = status -s
    sh = show
    ci = commit
    co = checkout
    br = branch
    gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    gra = log --graph --branches --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'
    unstage = reset HEAD --
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    drag = pull --rebase
    f = "!git ls-files | grep -i"
    d  = diff
    d1 = diff HEAD~
    d2 = diff HEAD~2
    d3 = diff HEAD~3
    alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
[gui]
    encoding = utf-8
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path = 
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[url "https://"]
    insteadOf = git://
[credential]
	helper = cache --timeout 259200
[include]
    path = ~/.gitconfig.local
